<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Styles -->              
    @await Html.PartialAsync("Partial/_Styles")

    <title>@ViewBag.Title | TestLanding</title>
</head>

<body>
    <div class="wrapper">
        <div class="topper">
            
            <!-- Header -->
            <partial name="Partial/_Header"/>

            <!-- Body -->
            <div class="project container">
                @RenderBody()
            </div>
        </div>
        <!-- Footer -->
        <partial name="Partial/_Footer"/>

    </div>

</body>

<!-- Scripts -->      
<partial name="Partial/_Scripts"/>
@await RenderSectionAsync("Scripts", false) 


</html>