@{
    ViewData["Title"] = "Home Page";
}

<div class="project container">
    <h3 class="middle__header">Наши проекты</h3>
    <p class="project__info text">Благодаря системному подходу в работе с клиентами, мы не только поставляем уже готовые программные решения для автоматизации бизнеса, но и для персонального пользования дома, в автомобиле и в мобильных устройствах. </p>
    <div class="project__item">
        <img class="project__img" src="img/project-1.png" alt="photo">
        <p class="project__text">Решения для дома</p>
    </div>
    <div class="project__parent">
        <div class="project__item project__item_margin">
            <img class="project__img" src="img/project-2.png" alt="photo">
            <p class="project__text project__text_left">Мобильные приложения</p>
        </div>
        <div class="project__item">
            <img class="project__img" src="img/project-3.png" alt="photo">
            <p class="project__text project__text_left">Помощник для автомобиля</p>
        </div>
    </div>
</div>
